<div class="row">
  <section class="col-12 col-sm-4 mb-3" id="about">
    <img
      src="./assets/images/lee_head_shot.png"
      class="float-end float-sm-none ms-2"
    />
    <h3>Minneapolis, MN</h3>
    <p>
      I've been involved in tech for many years, gradually getting closer to
      development from out on the fringes. I'm looking forward to getting even
      more involved!
    </p>
  </section>
  <section class="accordion col-12 col-sm-8" id="projects">
    {{#each projects as |project|}}
      <div class="accordion-item">
        <h2><a
            href={{project.url}}
            target="_blank"
            class="title"
          >{{project.title}}</a><a
            href={{project.repo}}
            target="_blank"
          >GitHub</a><button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#item-{{project._id}}"
            aria-expanded="true"
            aria-controls="item-{{project._id}}"
          ><strong>Technologies: </strong><span>
              {{#each project.techs as |tech|}}
                {{tech}}
              {{/each}}
            </span></button></h2>
        <div id="item-{{project._id}}" class="accordion-collapse collapse">
          <div class="accordion-body">{{project.description}}</div>
        </div>
      </div>
    {{/each}}
  </section>
</div>